* {
    font-family: 'Times New Roman', Times, serif;
}

#first-section .box {
    color: white;
    width: 250px;
    height: 150px;
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
}

#first-section #first-box, #first-section #third-box {
    background-color: #00FF0F;
}

#first-section #second-box {
    border: 10px;
    border-color: blue;
    border-style:dashed;
}



#second-section .animal-list > li::marker {
    color: red;
}

#second-section .animal-list ol > li::marker {
    color: green;
}

#second-section .animal-list ul > li::marker {
    color: blue;
}

#second-section .animal-list ol > li:first-child,
#second-section .animal-list ul > li:first-child {
    color: turquoise;
}



#third-section a.link {
    text-decoration: none;
    color: #437bc4;
}

#third-section a.link:visited {
    color: violet;
}

#third-section a.link:hover {
    text-decoration: underline;
    color: red;
}

#third-section a.link::before {
    content: '🔗';
    display: inline-block;
}



#forth-section .image {
    max-width: 1000px;
    min-width: 400px;
    max-height: 1000px;
    min-height: 400px;
    width: 50vw;
    height: auto;
}

html * {
    font-size: 1rem;
}

html h2 {
    font-size: 1.8rem;
}